ul{

    list-style-type: square;
    float: left;

    
}


ol{

    list-style-type: upper-roman;
    float: left;
}

.contenedor-lista{

    display: flex;
    flex-direction: row;
    width: 50%;
    background-color: #c794aa;
    align-self: center;
    align-items: center;
    margin: 0% 25% 5% 25%;
}

.input{

    padding: 13px;
    font-size: 16px;
    border-width: 5px;
    border-color: #7c254b;
    background-color: #FFFFFF;
    color: #000000;
    border-style: solid;
    border-radius: 13px;
    box-shadow: 1px -2px 5px rgba(66,66,66,.75);
    text-shadow: 0px 0px 5px rgba(66,66,66,.75);
    flex-direction: column;

}

.button{

    background-color:#FFFFFF;
    border-color: #7c254b;
	border-radius:28px;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
    text-decoration:none;
    border-width: 5px;
    flex-direction: column;
}
.button:hover {
	background-color:#c794aa;
}
.button:active {
	position:relative;
	top:1px;
}

.contenedor{
display: block;
text-align: center;
align-items: center;

}
        

.lista{

    width: 40%;
    margin:5%;
    align-items: center;
    flex-direction: column;
    border: 5px solid rgb(68, 8, 68);
}
