#parrafo-uno{
    
    background-color: rgb(217, 209, 226);
}


#parrafo-dos{
    background-color: rgb(140, 128, 240);
}


.titulo{
    background-color: rgb(54, 18, 94);
}


.cuerpo{

    background-color: #BD9DE0;
}