@font-face{
    font-family: "poppins";
    src: url("poppins.ttf");
    }
@font-face{
    font-family: "poppins-bold";
    src: url("poppins-bold.ttf");
    }

*{
    font-family: "poppins";
    color: white;
}

/* For mobile phones: */

[class*="col-"] {
    float: left;
    padding: 15px;
  }

[class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }


  body{
      background-color: #222321;
  }
  header{

    max-width: 98%;
    background-color: #222321;
    color: white;
    font-family: "poppins-bold";
    text-align: center;
  }

  ul{
    list-style: none;
    display: inline-table;
    max-width: 98%;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  li{
    margin: 0;
    padding: 2%;
    
  }

.seccion{
    text-align: center;
    margin: 0;
}

.contenido{
    text-align: justify;
    padding: 2%;
    background-color: #525356;
    font-size: 4vw;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    width: 88%;
    margin-bottom: 1%;

}

.boton{
    text-align: center;
    padding: 5% 30% 5% 30%;
    background-color: #525356;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    width: 90%;
    margin: 2%;
    display: table;
}


.titulo{
    width: 90%;
    padding: 5%;
    background-color: #8cb561;
    font-size: 10vw;
    margin-top:3% ;

}

.cuerpo{

    display: table;
    text-align: center;
}